<div class="flex justify-center w-full mt-12">
  <div class="card p-4 border-2 shadow-md">
    <h2 class="card-title">Giriş Yap</h2>
    <div class="card-body">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">
            <fa-icon [icon]="mailIcon"></fa-icon>
            Email
          </span>
        </label>
        <input type="text" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">
            <fa-icon [icon]="passwordIcon"></fa-icon> Şifre
          </span>
        </label>
        <input type="password" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="card-actions justify-end mt-4">
        <button class="btn btn-primary" type="submit">Giriş Yap</button>
      </div>
    </div>
  </div>
</div>
